name: deploy

on:
 push:
  branches:
   - main

jobs:
 deploy:
  name: deploy
  runs-on: ubuntu-latest
  steps:
   - uses: actions/checkout@v2

   # Dev deploy.
   - uses: cloudflare/wrangler-action@1.3.0
     with:
      apiToken: ${{ secrets.CF_API_TOKEN }}

   # Prod deploy.
   - uses: cloudflare/wrangler-action@1.3.0
     with:
      apiToken: ${{ secrets.CF_API_TOKEN }}
      # This is the only difference between dev and prod here but it gets picked
      # up by the wrangler.toml as well at runtime.
      environment: 'production'
